<H1>Create new task</H1>
<div>
  <%= form_with(model: @task, url: tasks_path, method: :post) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :details %>
    <%= form.text_area :details %>

    <%= form.label :completed %>
    <%= form.check_box :completed %>

    <%= form.submit 'Create Task' %>
  <% end %>

  <%= link_to 'Back to Task List', tasks_path %>
</div>
