<h1><%= @task.title %></h1>

<p><strong>Details:</strong> <%= @task.details %></p>
<p><strong>Status:</strong> <%= @task.completed ? 'Completed' : 'Incomplete' %></p>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to 'Back to Task List', tasks_path %>
<%= link_to "Update this task", new_edit_path(@task) %>
